<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.debugking.www.dao.CommunityMapper">
  	<insert id="insert" parameterType="post">
  		insert into posts (
			POSTNO,
			MEMBERID,
			POSTTITLE,
			POSTCONTENT,
			POSTDATE,
			POSTTYPE,
			<if test="originalFile != null">
			ORIGINALFILE,
			SAVEDFILE
			</if>
		) values (
			postNoSeq.nextval,
			#{memberId},
			#{postTitle},
			#{postContent},
			sysdate,
			#{postType},
			<if test="originalFile != null">
			#{originalFile},
			#{savedFile}
			</if>
		)
  	</insert>
  	
  	<select id="getBoardCount" parameterType="map" resultType="int">
		select count(*)
		from posts
		<if test="searchItem != null">
			where ${searchItem} like '%'||#{searchWord}||'%'
		</if>
	</select>
	
	<select id="selectAll" parameterType="map" resultType="Post">
		SELECT
			postNo
			,memberId
			,postTitle
			,postContent
			,to_char(postDate, 'YYYY-MM-DD') as postDate
			,postView
			,postLike
			<if test="originalFile != null">
			,originalFile
			,savedFile
			</if>
			,reported
		FROM Posts 
		where postType = #{postType}
		<if test="searchItem != null">
			and ${searchItem} LIKE '%'||#{searchWord}||'%'
		</if>
		ORDER BY postNo DESC
	</select>
	
	<select id="selectOne" parameterType="int" resultType="Post">
		select
			*
		from posts
		where postno = #{postNo}
	</select>
	
	<update id="update" parameterType="Post">
		update posts set
			<if test="originalFile != null">
				originalFile = #{originalFile},
				savedFile = #{savedFile},
			</if>	
			postTitle = #{postTitle},
			postContent = #{postContent},
			postType = #{postType}
		where postNo = #{postNo}
	</update>
	
	<delete id="postDelete" parameterType="int">
		delete from posts
		where
			postNo = #{postNo}
	</delete>
  </mapper>