<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.debugking.www.dao.FollowMapper">
	<select id="followCount" parameterType="string" resultType="int">
		select 
			count(*)
		from follower
		where memberId = #{memberId} 
	</select>
	
	<select id="follower" parameterType="string" resultType="Member">
		select 
			f.memberId,
			m.memberLevel
		from 
			memberInfo m, follower f
		where m.memberId = f.memberId  and f.followName = #{memberId}	
	</select>
	
	<select id="following" parameterType="string" resultType="Member">
		select 
			f.followName,
			m.memberLevel
		from 
			memberInfo m, follower f
		where m.memberId = f.followName and f.memberId = #{memberId}	
	</select> 
	
	<insert id="insert" parameterType="Follower">
		insert into follower(
			followerNum,
			memberId,
			followName
		) values (
			followNumSeq.nextval,
			#{memberId},
			#{followName}
		)
	</insert>
	
	<select id="selectOne" parameterType="Follower" resultType="Follower">
		select * from follower
		where followName = #{followName} and memberId = #{memberId}
	</select>
	
	<delete id="delete" parameterType="Follower">
		delete from follower 
		where followName = #{followName} and memberId = #{memberId}
	</delete>
	
	<select id="followList" parameterType="string" resultType="Follower">
		select 
			followName
		from 
			follower
		where memberId = #{memberId}
	</select>
</mapper>