<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.debugking.www.dao.ManagerMapper">
	<select id="getVoiceCount" parameterType="map" resultType="int">
		select count(*)
		From Posts
		where postType = #{searchItem}
	</select>
	<select id="selectAll" resultType="Post" parameterType="map">
		SELECT
			postNo
			,memberId
			,postTitle
			,postContent
			,to_char(postDate, 'YYYY-MM-DD') as postDate
			,postView
			,postLike
			,postType
			,isAnnouncement
			<if test="originalFile != null">
			,originalFile
			,savedFile
			</if>
			,reported
		FROM Posts 
		where postType = #{searchItem}
		ORDER BY postNo DESC
	</select>
	
	<update id="move" parameterType="map">
    update Posts
    set
    	postType=#{postType}
    WHERE
    postNo IN
         <foreach collection="postNo" item="postNo"  open="(" close=")" separator=",">
            #{postNo}
        </foreach>
	</update>
	
	<delete id="deleted" parameterType="map">
    delete Posts
    WHERE postNo IN
         <foreach collection="postNo" item="postNo"  open="(" close=")" separator=",">
            #{postNo}
        </foreach>
	</delete>
	<select id="getMemberInfoCount" parameterType="map" resultType="int">
		select count(*)
		From MemberInfo
		where memberLevel = #{memberLevel}
	</select>
	<select id="selectMemberInfoAll" resultType="Member" parameterType="map">
		SELECT
			memberId
			,memberPwd
			,memberName
			,to_char(signupDate, 'YYYY-MM-DD') as signupDate
			,memberPhone
			,memberBirth
			,memberEmail
			,memberPoint
			,memberLevel
		FROM MemberInfo 
		where memberLevel = #{memberLevel}
		ORDER BY signupDate DESC
	</select>
	
</mapper>