<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.debugking.www.dao.PointslogMapper">
	<!-- 로그 첫번째 생성 -->
	<insert id="insertpointslog" parameterType="Pointlog">
		insert into pointslog
		(
			logid
			,memberid;
			,theOtherId;
			,sysdate
			,amount;
			,balance;
		)
		values
		(
			SEQ_pointslog_logid.nextval
			,#{memberid}
			,#{recommender}
			,sysdate
			,#{memberpoint}
			,balance + #{memberpoint}
		)
	</insert>
	<!-- 로그 업데이트 (로그저장하기) -->
	<update id="updatepointslog" parameterType="Pointlog">
		update pointlog
		set 
			SEQ_pointslog_logid.nextval
			,#{memberid}
			,#{recommender}
			,sysdate
			,#{memberpoint}
			<!-- 이체 타입에 따라 바껴야 될꺼 같네. -->
			<if test="eventtype=='deposit'">
			,balance + #{memberpoint}
			</if>
			<if test="eventtype=='withdraw'">
			,balance - #{memberpoint}
			</if>
	</update>


</mapper>